body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header-back-icon {
  position: absolute;
  left: 0;
  top: 30%;
  color: "black";
}
.form-message {
  padding: 5px;
}
.card-list {
  margin: 0px;
}
.full-height {
  min-height: 100vh;
  height: max-content;
  overflow: auto;
}