body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header-back-icon {
  position: absolute;
  left: 0;
  top: 30%;
  color: "black";
}
.form-message {
  padding: 5px;
}
.card-list {
  margin: 0px;
}
.full-height {
  min-height: 100vh;
  height: max-content;
  overflow: auto;
}
a.ui.card.poll-preview, a.ui.card.circle-preview {
  box-shadow: 1px 1px 12px 2px rgba(150,150,150,0.25)
}
a.ui.card.poll-preview  .content, a.ui.card.circle-preview .content {
  border: 0px;
}
a.ui.card.poll-preview .extra.content, a.ui.card.circle-preview .extra.content {
  border: 0px;
  border-top: 0px !important;
}
a.ui.card.poll-preview:hover, a.ui.card.circle-preview:hover {
  box-shadow: 1px 1px 12px 2px rgba(150,150,150,0.25)
}
form.my-form {
  padding: 20px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
div.sidebar.menu.my-sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-list-img {
  margin-right: 20px;
  vertical-align: middle;
  border-radius: 50%;
}